*{
    font-family: "Roboto",sans-serif;
}
p{

color:brown ;
font-size: 30px;
font-weight: 900;
font-style: italic;
text-align: right;
text-decoration: underline;
text-decoration: overline;
text-transform:lowercase ;
}

.header{
    background-color: chartreuse;
}
.body{
    background-color: red;
    padding: 20px;
    border: 10px solid yellow;
} 
h1:hover{
color: cyan;
font-size: 50px;
background-color: fuchsia;
}

@media (max-width:801px) {
body{
    background-color: green;
}
}